@page
@model IndexModel
@{
    ViewData["Title"] = "MSBank-WeFindWays";

}

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">

        <div class="col-xl-3 col-lg-8">
            <div class="card l-bg-blue-dark">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
                    <div class="mb-4">
                        <h5 class="card-title mb-0">Total Customers</h5>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0">
                                @Model.TotalCustomers
                            </h2>
                        </div>
                        <div class="col-6 text-right">
                            <span>9.23% <i class="fa fa-arrow-up"></i></span>
                        </div>
                    </div>
                    <div class="progress mt-1 " data-height="8" style="height: 8px;">
                        <div class="progress-bar l-bg-green" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-8">
            <div class="card l-bg-green-dark">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-ticket-alt"></i></div>
                    <div class="mb-4">
                        <h5 class="card-title mb-0">Total Accounts</h5>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0">
                                @Model.TotalAccounts
                            </h2>
                        </div>
                        <div class="col-6 text-right">
                            <span>10% <i class="fa fa-arrow-up"></i></span>
                        </div>
                    </div>
                    <div class="progress mt-1 " data-height="8" style="height: 8px;">
                        <div class="progress-bar l-bg-orange" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-8">
            <div class="card l-bg-orange-dark">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><i class="fas fa-dollar-sign"></i></div>
                    <div class="mb-4">
                        <h5 class="card-title mb-0">Total Account Balance</h5>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0">
                                @Model.TotalAccountBalance
                            </h2>
                        </div>
                        <div class="col-6 text-right">
                            <span>12.5% <i class="fa fa-arrow-up"></i></span>
                        </div>
                    </div>
                    <div class="progress mt-1 " data-height="8" style="height: 8px;">
                        <div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol> <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="item carousel-item active">
                <div class="img-box"><img src="https://i.imgur.com/Ur43esv.jpg" alt=""></div>
                <p class="testimonial">"Being able to ‘Buy Now, Pay Later’ at the click of a button empowers our customers to shop however and whenever they want. Revolutionising our approach to purchasing and paying will help us boost conversion rates and ensure our customers remain our brands' biggest fans."</p>
                <p class="overview"><b>Adrian Andersson</b>Seo Analyst </p>
                <div class="star-rating"> </div>
            </div>
            <div class="item carousel-item">
                <div class="img-box"><img src="https://i.imgur.com/8RKXAIV.jpg" alt=""></div>
                <p class="testimonial">"A purchase at MSBank should feel like a hand shake deal built on mutual trust. And making the payment should be as short and fun as the rest of the purchase journey.".</p>
                <p class="overview"><b>Adam Jafer</b>Media Analyst </p>
                <div class="star-rating"> </div>
            </div>
            <div class="item carousel-item">
                <div class="img-box"><img src="https://i.imgur.com/J6l19aF.jpg" alt=""></div>
                <p class="testimonial">"I’ve recently worked with Maria Nephew and Kelsey Oliverio to close the accounts of a family member who is very ill. Both were helpful, efficient, and kind, making a difficult task much easier for me. I also appreciated connecting with a real person each time I called, rather than encountering a complicated telephone tree. Customer service is clearly a high priority at MSBank."</p>
                <p class="overview"><b>Paula Wilson</b>Web Developer</p>
                <div class="star-rating"> </div>
            </div>
        </div> <!-- Carousel controls --> <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev"> <i class="fa fa-angle-left"></i> </a> <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next"> <i class="fa fa-angle-right"></i> </a>
    </div>
</div>







